include pug/libs/_libs

doctype html
html(lang='en')
    include pug/_head
    body
        .container
            h1 Hello from Webpack
            h2.container__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ipsam!
            +image('angular')
            +image('webpack')
            .block
            //// Button trigger modal
            //button.btn.btn-primary(type='button' data-bs-toggle='modal' data-bs-target='#staticBackdrop')
            //    | Launch static backdrop modal
            //// Modal
            //#staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
            //    .modal-dialog
            //        .modal-content
            //            .modal-header
            //                h5#staticBackdropLabel.modal-title Modal title
            //                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            //            .modal-body
            //                | ...
            //            .modal-footer
            //                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
            //                button.btn.btn-primary(type='button') Understood


